<div class="container events-container">
  <h2>Your Events</h2>
  <div>
    <%= link_to "Create New Event", new_event_path, class: "btn btn-event" %>
  </div>
  <div class="event-card">
    <% @events.each do |event| %>
      <%= link_to event.title, event_path(event) %>
    <% end %>
  </div>
</div>
