<div class="container event-show-container">
  <h1><%= @event.title %></h1>
  <p><%= @event.description %></p>

  <div>
    <%= link_to "Add Location", new_event_location_path(@event), class: "btn btn-primary" %>
  </div>
  <div>
    <%= link_to "Add Date", new_event_moment_path(@event), class: "btn btn-primary" %>
  </div>
</div>
