<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/288478/pexels-photo-288478.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  <div class="container">
    <h1>Let's Celebrate!</h1>
    <p>Plan for all of the moments in your life</p>
    <%= link_to "Create a New Event", new_event_path, class: "btn btn-ghost" %>
  </div>
</div>

<!-- <div class="icons">
  <div class="container row justify-content-center">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 features">
      <%#= image_tag ("ballot.png"), class: "icon-landing"%>
      <p class="mr-3 m-md-3">
        Keep track of all of your tasks
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 features">
      <%#= image_tag ("campaign.png"), class: "icon-landing"%>
      <p class="mr-3 m-md-3">
        Invite all of your guests and have their input.
      </p>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4 features">
      <%#= image_tag ("plan.png"), class: "icon-landing"%>
      <p class="mr-5 m-md-3">
        Choose the perfect date and location.
      </p>
    </div>
  </div>
</div>
 -->
