<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.pexels.com/photos/288478/pexels-photo-288478.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260);">
  <div class="container">
    <h1>Let's Celebrate!</h1>
    <p>Plan for all of the moments in your life</p>
    <a class="btn btn-ghost" href="#">Create a New Event</a>
  </div>
</div>
