// HOME PAGE
.btn-ghost {
  color: #64B2B4;
  background-color: white;
  font-size: 20px;
  border: 3px solid white;
  padding: 8px 24px;
  border-radius: 50px;
  position: absolute;
  margin-top: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-ghost:hover {
  background-color: #64B2B4;
  color: white;
  border: 3px solid #64B2B4;
}

// ALL OTHER BUTTONS
.btn-primary {
  color: white;
  background-color: #64B2B4;
  font-size: 16px;
  border: 3px solid #64B2B4;
  padding: 8px 24px;
  border-radius: 50px;
  position: absolute;
  margin-top: 24px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary:hover {
  background-color: white;
  color: #64B2B4;
  border: 3px solid white;
}

// BUTTONS ON EVENT SHOW PAGE
.btn-event {
  color: white;
  background-color: #64B2B4;
  font-size: 16px;
  border: 3px solid #64B2B4;
  padding: 8px 24px;
  border-radius: 50px;
}

.btn-event:hover {
  background-color: white;
  color: #64B2B4;
  border: 3px solid white;
}
