.new-event-container {
  text-align: center;
  margin-top: 36px;
}

.event-show-container {
  text-align: center;
  margin-top: 36px;
}

.events-container h2 {
  text-align: center;
  margin-top: 36px;
}
