.new-event-container {
  text-align: center;
  margin-top: 36px;
}

.event-show-container {
  text-align: center;
  margin-top: 36px;
}

.events-container {
  text-align: center;
  margin-top: 36px;
}

.moment-container {
  text-align: center;
  margin-top: 36px;
}

.location-container {
  text-align: center;
  margin-top: 36px;
}
